<div class="mt-3 border-bottom" >
    <div>
        <ul class="d-flex" >
            <li class="me-3" *ngFor ="let m of nav" (click)="handlerClickItem(m)">{{m.city}}</li>
        </ul>
    </div>
</div>
<h5 class="text-center mt-3">Employee Info</h5>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row card1 mb-3 border-bottom" *ngFor ="let d of bt">
            <div class="col-1">
                <img class="rounded-circle" src="{{d.im}}">
            </div>
            <div class="col-11">
                <h6 class="align-bottom mb-0">{{d.name}}</h6>
                <p class="align-bottom fw-light">{{d.title}}</p>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
